<ul>
<% workout.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>

<%= form_with model: workout, local: true do |f| %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <br>

  <%= f.label :description %>
  <%= f.text_field :description %>
  
  <br>

  <label>Activities</label>
  <ul>
    <%= f.fields_for :activities do |activities_form| %>
      <li>
        <%= activities_form.label :exercise_id %>
        <%= activities_form.collection_select :exercise_id, exercises, :id, :name, prompt: true %>
 
        <%= activities_form.label :sets %>
        <%= activities_form.number_field :sets %>

        <%= activities_form.label :reps %>
        <%= activities_form.number_field :reps %>

        <%= activities_form.label :weight %>
        <%= activities_form.number_field :weight %>

        <%= activities_form.label :_destroy %>
        <%= activities_form.check_box :_destroy %>  
      </li>
    <% end %>
  </ul>

  <%= f.submit %>

<% end %>
