<h2 class="py-3">Workouts</h2>

<%= render partial: 'messages/flash_error' %>
<%= render partial: 'messages/flash_message' %>

<div class="py-3">
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= link_to workout.name, workout_path(workout) %></td>
        <td><%= workout.user.full_name %></td>
        <td><%= workout.description %></td>
      <% if workout.user == current_user %>
        <td>
          <div class="btn-group">
            <%= button_to 'Edit', edit_workout_path(workout), method: :get, class: "mr-3" %>
            <%= button_to 'Delete', workout_path(workout), method: :delete %>
          </div>
        </td>
      <% else %>
        <td><%= button_to 'Add', add_workout_path(workout), method: :get %></td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="py-3">
  <%= button_to 'New Workout', new_workout_path, method: :get %>
</div>
