<h2>Workout</h2>

<p>Name: <%= @workout.name %></p>
<p>Description: <%= @workout.description %></p>
<p>Activities:</p>

<table>
  <tr>
    <th>Exercise</th>
    <th>Sets</th>
    <th>Reps</th>
    <th>Weight</th>
  </tr>
<% @workout.activities.each do |activity| %>
  <tr>
    <td><%= link_to activity.exercise.name, exercise_path(activity.exercise) %></td>
    <td><%= activity.sets %></td>
    <td><%= activity.reps %></td>
    <td><%= activity.weight %> lbs</td>
  </tr>
<% end %>
</table>

<br>

<%= button_to 'Edit', edit_workout_path(@workout), method: :get %>
<%= button_to 'Delete', workout_path(@workout), method: :delete %>
