<h2 class="px-5 py-3">Sign Up</h2>

<%= render partial: 'messages/model_errors', locals: { model: @user } %>

<%= form_with model: @user, local: true  do |f| %>
  
  <div class="form-group row">
    <%= f.label :first_name, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-2">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :last_name, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-2">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :email, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-2">
      <%= f.text_field :email %>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :password, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-2">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-2">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <%= f.submit 'Sign Up' %>

<% end %>

<br>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>
