<%= render partial: 'messages/model_errors', locals: { model: scheduled_workout } %>

<%= form_with model: scheduled_workout, local: true do |f| %>

  <div class="form-group row">
    <%= f.label :date, class: "col-sm-1 col-form-label" %>
    <%= f.date_select :date %>
  </div>

  <div class="form-group row">
    <%= f.label :workout_id, class: "col-sm-1 col-form-label" %>
    <%= f.collection_select :workout_id, workouts, :id, :name, prompt: true %>
  </div>
  
  <div class="form-check form-check-inline">
    <%= f.check_box :completed, class: "form-check-input" %>
    <%= f.label :completed, class: "form-check-label"%>
  </div>

  <br><br>

  <div class="py-3">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>

<% end %>
