<h2 class="py-3">Scheduled Workout</h2>

<p>Workout: <%= link_to @scheduled_workout.workout.name, workout_path(@scheduled_workout.workout) %></p>
<p>Date: <%= @scheduled_workout.pretty_date %></p>
<p>Completed: <%= @scheduled_workout.pretty_completed %></p>

<% if @scheduled_workout.user == @user %>
<div class="btn-toolbar py-3">
  <%= button_to 'Edit', edit_scheduled_workout_path(@scheduled_workout), method: :get, class: "mr-3" %>
  <%= button_to 'Delete', scheduled_workout_path(@scheduled_workout), method: :delete, class: "mr-3" %>
</div>
<% end %>

<div class="py-3">
  <%= link_to 'Back to Schedule', scheduled_workouts_path %>
</div>
