<h2 class="px-5 py-3">Muscle</h2>

<% if @muscle.image_url %>
  <img src="<%= @muscle.image_url %>" alt="<%= @muscle.name %> image">
<% end %>

<p>Name: <%= @muscle.name %></p>
<p>Exercises:</p>
<ul>
<% @muscle.exercises.each do |exercise| %>
  <li><%= link_to exercise.name, exercise_path(exercise) %></li>
<% end %>
</ul>

<br>

<%= link_to 'All Muscles', muscles_path %>
