<h2>Activity</h2>

<p>Exercise: <%= link_to @activity.exercise.name, exercise_path(@activity.exercise) %></p>
<p>Sets: <%= @activity.sets %></p>
<p>Reps: <%= @activity.reps %></p>
<p>Weight: <%= @activity.weight %> lbs</p>
<p>Workout(s):</p>
<ul>
<% @activity.workouts.each do |workout| %>
  <li><%= link_to workout.name, workout_path(workout) %></li>
<% end %>
</ul>
