<h2>Activity</h2>

<p>Workout: <%= link_to @activity.workout.name, workout_path(@activity.workout) %></p>
<p>Exercise: <%= link_to @activity.exercise.name, exercise_path(@activity.exercise) %></p>
<p>Sets: <%= @activity.sets %></p>
<p>Reps: <%= @activity.reps %></p>
<p>Weight: <%= @activity.weight %> lbs</p>
