<h2 class="px-5 py-3">Exercise</h2>

<% unless @exercise.image_url.blank? %>
<img src="<%= @exercise.image_url %>" alt="<%= @exercise.name %>">
<% end %>

<p>Name: <%= @exercise.name %></p>
<p>Description: <%= @exercise.description %></p>
<p>Muscles:</p>
<ul>
<% @exercise.muscles.each do |muscle| %>
  <li><%= link_to muscle.name, muscle_path(muscle) %></li>
<% end %>
</ul>

<br>

<%= link_to 'All Exercises', exercises_path %>
