<!DOCTYPE html>
<html>
  <head>
    <title>Spotter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>Spotter</h1>
    <%= link_to 'Workouts', workouts_path %>
    <%= link_to 'Exercises', exercises_path %>
  <% if logged_in? %>
    <%= link_to 'Logout', logout_path, method: :delete %>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>

    <%= yield %>

  </body>
</html>
